body {
  background-color: #ffffcc;
}

header {
  height: 10em;
  border: 1px solid black;
  background-image: url('../images/banana-peel.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  text-align: center;
  text-shadow: 3px 3px 0 #000;
}

header h3 {
  font-size: 3em;
  color: #ff00ff;
  background-color: transparent;;
}

header img {
  width: 100%;
}



table, th, td, tr {
  border: 1px solid black;
}

.footerimg {
  width: 40px;
  height: auto;
}
