body {
  background-color: #ffffcc;
}

header {
  height: 10em;
  border: 1px solid black;
  background-image: url('../images/banana-peel.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  text-align: center;
  text-shadow: 3px 3px 0 #000;
}

header h3 {
  font-size: 3em;
  color: #ff00ff;
  background-color: transparent;;
}

header img {
  width: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin-bottom: 100px;
}

.columnleft {
  float: left;
  width: 20%;
  margin-right: 2%;
  padding-right: 2%;
}

.columnmid {
  float: left;
  width: 54%
  margin-right: 2%;
  padding-right: 1%;
  margin-left: 2%;
  padding-left: 1%;
}

.columnright {
  float: right;
  width: 20%;
  margin-right: 2%;
  padding-left: 2%;
}

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

table, th, td, tr {
  border: 1px solid black;
}

.footerimg {
  width: 40px;
  height: auto;
}

.allthings {
  margin-top: 3em;
}

.shoplogo {
  width: 100px;
  border-radius: 100%;
  z-index: 0;
  background-color: pink;
  padding: .7em;
  position: absolute;
  top: 100px;
  left: 100px;
}

.shopbio, .hoursandcontact {
  font-family: Helvetica, serif;
  background-color: #bbb;
}

.flavortable tr:nth-child(2n+1) {
  background-color: lavender;
}

.flavortable tr {
  background-color: lightgreen;
}

caption {
  font-size: 2em;
  font-family: Courier;
}

a {
  text-decoration: none;
}

tr:hover {
  background-color: yellow;
}

/* How to make table rows clickable???

tr:active {
  background-color: yellow;
}*/

tr:nth-child(2n+1):hover {
  background-color: yellow;
}

th {
  background-color: #9BEFA1;
  color: #F11D87;
}
